<div class="wrapper">
  <div class="group">
    <h1>Family <span>Recipes</span></h1>
    <form id="recipes-search-form" class="recipes-search-form">
      <label for="recipes-search">Search recipes:</label>
      <input type="text" id="recipes-search" class="recipes-search" />
    </form>
  </div>

  <p class="intro">This is a collection of recipes from our family and friends. Lots of special stuff in here. Please enjoy and eat well!</p>

  <app-recipe type="breakfast"></app-recipe>
  <app-recipe type="salads"></app-recipe>
  <app-recipe type="soups"></app-recipe>
  <app-recipe type="entrees"></app-recipe>
  <app-recipe type="sides"></app-recipe>
  <app-recipe type="desserts"></app-recipe>
</div>
