<div class="wrapper">
  <div class="group">
    <h1>Family <span>Recipes</span></h1>
    <form id="recipes-search-form" class="recipes-search-form">
      <label for="recipes-search">Search recipes:</label>
      <input type="text" id="recipes-search" class="recipes-search" (keyup)="onKey($event)" />
    </form>
  </div>

  <p class="intro">This is a collection of recipes from our family and friends. Lots of special stuff in here. Please enjoy and eat well!</p>

  <app-recipes-section type="breakfast" searchValue="{{ searchVal }}"></app-recipes-section>
  <app-recipes-section type="salads" searchValue="{{ searchVal }}"></app-recipes-section>
  <app-recipes-section type="soups" searchValue="{{ searchVal }}"></app-recipes-section>
  <app-recipes-section type="entrees" searchValue="{{ searchVal }}"></app-recipes-section>
  <app-recipes-section type="sides" searchValue="{{ searchVal }}"></app-recipes-section>
  <app-recipes-section type="desserts" searchValue="{{ searchVal }}"></app-recipes-section>
</div>
